header {
  position: fixed;
  top: 5px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  padding: 3px;
  border-radius: 999px;
  width: fit-content;
  background: rgb(221, 218, 218);
}

.btn {
  border-radius: 999px;
  padding: 10px;
  font-size: 14px;
  border: none;
  background: #eeeaea;
}
