.filmContainer {
  display: flex;
  gap: 10px;
  overflow: hidden;
  margin-inline: 5px;
}
.filmContainer:hover {
  overflow-x: scroll;
}
.filmContainer::-webkit-scrollbar {
  background: transparent;
  height: 15px;
}
.filmContainer::-webkit-scrollbar-thumb:horizontal {
  border-radius: 20px;
  background: rgb(105, 105, 105);
}
